* {
    box-sizing: border-box;
  }
  body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto 1fr auto;
  }
  
  header {
    background: rgb(224, 136, 150);
    padding: 2rem;
    grid-column: 1 / 3;
  }
  
  nav {
    grid-column: 1 / 3;
    background-color: rgb(40, 119, 93);
    padding: 1rem;
  }
  
  main {
    background: rgb(221, 125, 90);
    height: 100%;
    padding: 1rem;
  }
  
  aside {
    background: rgb(151, 151, 29);
    grid-column: 2 / 3;
    padding: 1rem;
  }
  
  footer {
    background: rgb(219, 163, 59);
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 3;
  }
  